{% extends 'base.html' %}
{% block title %}
    Attendance
{% endblock title %}
{% block body %}
<div class="container my-3">
    <h2>Attendance Entry</h2>
    <form action="/change/{{allEntry.sno}}" method="post">
        <div class="mb-3">
            <div class="mb-3">
            <label for="title" class="form-label">Your Name</label>
            <input type="text" class="form-control" name = 'name' id="title" value="{{allEntry.name}}">
              </div>
              <button type="submit" class="btn btn-primary">Change</button>
        </div>
      </form>
  </div>
  {% endblock body %}